<div class="container">
  <div class="row">
    <div class="col">
      <div >
        <h2 class="heading">
          Help Students Reach<br /><br/>
          Their Potential
        </h2>
       <p class="para">Student management systems centralize student data to make it more accessible for teacher, administrators, parental guardians, and students themselves.</p>
      </div>
      <div class="row align-items-start" id="info">
        <div class="col" id="location">
          <img
            width="20px"
            src="assets/location.png"
          />
          St Savious Hall St George's Square, Pimlico,London
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col" id="email">
          <img
            width="20px"
            src="assets/gmail.png"
          />
          infor@stm.com
        </div>
      </div>
    </div>
    <div class="col order-1" id="mainimg">
      <img class="homeimg"
        src="assets/home.png"
      />
    </div>
  </div>
</div>
